@page "/CategoriaEditPage/edit/{Id:int}"
@inject ProxyCategoria ProxyCategoria
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal
@inject IJSRuntime JS
<PageTitle>Editar Categoria</PageTitle>

<div class="container">
    <div class="card">
        <h5 class="card-header">Consulta de Categoría</h5>
        <div class="card-body border-radius: .5rem">
            <div class="row mb-2">
                <div class="col-md-6">
                    <label for="name" class="col-form-label">Código:</label>
                    <input type="number" class="form-control" id="IdCategoria" disabled @bind-value="@_categoriaDTO.IdCategoria" />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <label class="col-form-label">Categoria:</label>
                    <input type="text" class="form-control" @bind-value="@_categoriaDTO.NombreCategoria" />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <label class="form-check-label">Habilitado</label>
                </div>
                <div class="custom-control custom-switch">
                    <div class="form-switch  col-md-11 ">
                        <input class="form-check-input" type="checkbox" @bind-value="@_categoriaDTO.Estado" checked="@(_categoriaDTO.Estado? "checked":null)">
                    </div>
                </div>
            </div>

            <div class="button-group">
                <button class="btn btn-primary w-25" @onclick="()=> OnSave()">Salvar</button>
                <button class="btn btn-warning  w-25" @onclick="OnClose">Salir</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public int Id { get; set; }
    private CategoriaDTO _categoriaDTO { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await ProxyCategoria.FindByIdAsync(Id);
            if (response.Success == true)
            {
                _categoriaDTO = response.Data!.ToList()[0];
            }
            else
            {
                _ = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Text = response.ErrorMessage,
                        Title = "Error",
                        Icon = SweetAlertIcon.Error,
                        ShowCloseButton = true
                    });
            }
        }
        catch (Exception ex)
        {
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
    }
     

    private void OnClose()
    {
        NavigationManager.NavigateTo("/CategoriaListPage");
    }

    private async void OnSave()
    {
        try
        {

            if (string.IsNullOrEmpty(_categoriaDTO.NombreCategoria))
            {
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        Text = $"La descripción de la categoría es requerido ",
                        Title = "Atención",
                        Icon = SweetAlertIcon.Warning,
                        ShowCloseButton = true,
                        TimerProgressBar = true,
                        Timer = 1500
                    });
                return;
            }

            var response = await ProxyCategoria.UpdateAsync(Id, _categoriaDTO);

            if (response.Success)
            {
                _ = await Swal.FireAsync(new SweetAlertOptions()
                    {
                        Title = "Atención",
                        Text = "Registro actualizado con exito",
                        Icon = SweetAlertIcon.Success,
                        Timer = 1500,
                        TimerProgressBar = true
                    });

                NavigationManager.NavigateTo("CategoriaListPage");
            }
            else
            {
                _ = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Text = response.ErrorMessage,
                        Title = "Error",
                        Icon = SweetAlertIcon.Error,
                        ShowCloseButton = true
                    });
            }
        }
        catch (Exception ex)
        {
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
    }
}
