@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
         <a class="navbar-brand" href="">ShopPhone <span class="oi oi-home"></span></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="main" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DashboardPage">
                <span class="oi oi-graph" aria-hidden="true"></span>Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CategoriaListPage">
                <span class="oi oi-tag" aria-hidden="true"></span>Categoria
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProductoListPage">
                <span class="oi oi-phone" aria-hidden="true"></span> Producto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClienteListPage">
                <span class="oi oi-people" aria-hidden="true"></span> Cliente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShoppingPage">
                <span class="oi oi-cart" aria-hidden="true"></span> Venta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShoppingListPage">
                <span class="oi oi-list" aria-hidden="true"></span> Lista Ventas
            </NavLink>
        </div>
        <!--
        <div class="nav-item px-3">
            <NavLink class="nav-link " @onclick="CloseSession" style="cursor:pointer">
                <span class="oi oi-share-boxed " aria-hidden="true"></span>Cerrar Sesion
            </NavLink>
        </div>
        -->
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public async Task CloseSession()
    {

        var auth = (CustomeAuthenticationStateProvider)AuthenticationStateProvider;
        await auth.Logout();
        NavigationManager.NavigateTo("/", false);
    }

}
